{{ form.keyword_display }}
{{ form.keyword }}
{{ form.title }}
{{ form.description }}
{{ form.author }}
{{ form.location }}
<div class="form-group">
    <div class="col-md-6">{{ form.from }}</div>
    <div class="col-md-6">{{ form.to }}</div>
</div>
{{ form.collection }}
{{ form.group }}
{{ form.media }}
{{ form.actions }}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}